.container {
    display: flex;
    flex: 1;
    font-size: 2em;
    font-weight: 300;
    position: relative;
}

.content-wrapper {
    position: absolute;
    overflow-y: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    padding: 0.6em 1em;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 0.4em;
    flex-direction: column;
    margin: 0.4em auto;
}

.from {
    font-size: 1.2rem;
    color: var(--ming);
}

.message {
    font-size: 1.6rem;
    padding: 1.2em;
    background-color: #fff;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0.1rem 0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.25);
}

.my-message {
    align-items: flex-end;
}

.my-message .from {
    display: none;
}

.my-message .message {
    margin-top: 0.4em;
    color: #fff;
    font-weight: 500;
    background-color: var(--ming);
}